@media (min-width: 768px) {

  body {
    margin-top: 50px;
  }

  .container {
    width: 700px;
  }

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.7em;
}

p, div {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.7em;
}
